<template>
    <index/>
  </template>
  
  <script>
    import Index from '../components/index'
  
    export default {
      name: 'Home',
      components: {
        Index,
      },
    }
  </script>
  