<template >
    <v-layout aling-start class="fondo">
        <v-flex>
          <v-row class="text-center">
            <v-col cols="12">
              <v-img :src="require('../../public/gif.gif')" class="my-3"  contain height="400"/>
            </v-col>
            <v-col class="mb-5" cols="12" >
              <h1 class="white--text font-weight-bold ma-5"> Welcome </h1>
              <v-row justify="center">
                <v-btn color="indigo" class="white--text" :to="{name: 'pokemon'}" link>Let's go</v-btn>
              </v-row>
            </v-col>
          </v-row>
      </v-flex>
    </v-layout>
</template>

<script>
  export default {
    name: 'Index',
    data: () => ({
    }),
  }
</script>
<style>
    .fondo{
        height: 100vh;
        background: #1e0750;
    }
</style>