<template >
  <v-layout class="fondo">
    <v-container>
      <v-flex>
          <v-row class="text-center">
            <v-col cols="12" >
              <h1 class="blue--text font-weight-bold ma-5">
                Find pokemon
              </h1>
              <v-row justify="center">
                <v-btn color="blue" class="white--text ma-3" @click="Search()" link>Search</v-btn>
              </v-row>
            </v-col>
            <v-col cols="12" sm="8" v-if="pokemon">
              <v-row>
                <v-col cols="8" v-if="pokemon">
                  <div class="card">
                        <h1 class="blue--text font-weight-bold mb-5">#{{ pokemon?.id }} {{ pokemon?.name }}</h1>
                        <v-img :src="pokemon?.sprites?.other?.['official-artwork'].front_default"  class="my-3"  contain  height="300" v-if="pokemon"/>
                  </div>
                </v-col>
                <v-col cols="4" v-if="pokemon">
                  <div class="card">
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>Types</v-list-item-title>
                          <v-list-item-subtitle class="blue--text" v-for="item in pokemon?.types" :key="item.slot">
                            <h3 class="pa-2 blue--text"> {{item.type?.name}} </h3>
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                      <v-list-item>
                        <v-list-item-content>
                          <v-list-item-title>Species</v-list-item-title>
                          <v-list-item-subtitle class="blue--text">
                            <h3 class="pa-2 blue--text"> {{pokemon.species?.name}} </h3>
                          </v-list-item-subtitle>
                        </v-list-item-content>
                      </v-list-item>
                  </div>
                </v-col>
                <v-col cols="12" v-if="pokemon">
                  <div class="card">
                    <v-list-item>
                      <v-list-item-content>
                        <v-list-item-title>Moves</v-list-item-title>
                        <p class="blue--text" >
                          <template v-for="item in pokemon?.moves">{{item.move?.name}}, </template>
                        </p>
                      </v-list-item-content>
                    </v-list-item>
                  </div>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="12" sm="4" v-if="pokemon">
                <div class="card">
                  <p>Abilities</p>
                  <v-list-item  v-for="item in pokemon?.abilities" :key="item.slot">
                    <v-list-item-icon>
                      <v-icon>check</v-icon>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title   class="blue--text" v-text="item.ability?.name"></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title>Stats </v-list-item-title>
                      <v-list-item-subtitle class="pr-3" v-for="item in pokemon?.stats" :key="item.stat?.name">
                        <template >
                          <v-subheader class="pl-0 blue--text">{{item.stat?.name}}</v-subheader>
                          <v-slider v-model="item.base_stat" readonly thumb-size="28" thumb-label="always" thumb-color="blue"></v-slider>
                        </template>
                      </v-list-item-subtitle>
                    </v-list-item-content>
                  </v-list-item>
                </div>
            </v-col>
            <v-col cols="12"  v-if="pokemon && isLoading == false">
              <h1 class="blue--text font-weight-bold ma-5">
                ¿You want to export pokemons with the same type of {{pokemon.name}} ?
              </h1>
              <v-row justify="center">
                <v-btn color="blue" class="white--text ma-2" @click="descargarCsv()" link>Download CSV</v-btn>
                <v-btn color="blue" class="white--text ma-2" @click="descargarExcel()" link>Download EXCEL</v-btn>
                <v-btn color="blue" class="white--text ma-2" @click="clear()" link>Clear</v-btn>
              </v-row>
            </v-col>
            <v-col cols="12" v-if="pokemon && isLoading == true">
              <div >
                <p>Please wait, we are looking for matches with other pokemon</p>
                <tile :loading="isLoading" width="200"></tile>
              </div>
            </v-col>
          </v-row>
      </v-flex>
    </v-container>
    <vue-toastr ref="mytoast"></vue-toastr>
  </v-layout>
</template>
  <script>
    import axios from 'axios';
    export default {
      name: 'Pokemon',
      data: () => ({
        pokemon : null,
        types : null,
        pokemons: [],
        isLoading: true,
        url:null
      }),
      methods: {
        Search () {
            this.isLoading = true;
            axios.get('pokemon/getPokemon').then((res)=>{
                if ( res.data.success) {
                    this.pokemon = res.data.message;
                    this.list();
                    this.alert('Se ha encontrado pokemon exitosamente','success');
                } else {
                  this.alert('hubo un error al realizar la petición','error');
                }
            })
            .catch((error)=>{
              this.alert('hubo un error al realizar la petición','error');
            });
        },
        list () {
            this.types = this.pokemon.types.map((item)=>{ return item.type.name})
            axios.get('pokemon/listType',{params: {types:this.types}}).then((res)=>{
                if ( res.data.success) {
                    this.pokemons = res.data.message
                    this.alert('pokemos encontrados exitosamente','success');
                } else {
                  this.alert('hubo un error al realizar la petición','error');
                }
                this.isLoading = false;
            })
            .catch((error)=>{
                this.alert('hubo un error al realizar la petición','error');
                this.isLoading = false;
            });
        },
        descargarCsv () {
          this.url = axios.defaults.baseURL
            axios.post('pokemon/csvType',{pokemons:this.pokemons}).then((res)=>{
                if ( res.data.success) {
                    window.open(this.url+res.data.link,'_blank');
                    this.alert('Se ha hecho la descarga correctamente','success');
                } else {
                  this.alert('hubo un error al realizar la petición','error');
                }
            })
            .catch((error)=>{
              this.alert('hubo un error al realizar la petición','error');
            });
        },
        descargarExcel () {
          this.url = axios.defaults.baseURL
          axios.post('pokemon/excelType',{pokemons:this.pokemons}).then((res)=>{
                if ( res.data.success) {
                    window.open(this.url+res.data.link,'_blank');
                    this.alert('Se ha hecho la descarga correctamente','success');
                } else {
                  this.alert('hubo un error al realizar la petición','error');
                }
            })
            .catch((error)=>{
              this.alert('hubo un error al realizar la petición','error');
            });
        },
        clear(){
          this.pokemon = null,
          this.pokemons = [],
          this.isLoading = false
        },
        alert(msj,alert){
          this.$refs.mytoast.defaultPosition = "toast-top-right";
          if (alert =='error') {
            this.$refs.mytoast.e(msj);
          } else {
            this.$refs.mytoast.s(msj);
          }
        }
      },
    }
  </script>
  <style scoped>
    .card{
      background: white;
      border-radius: 20px;
      margin-top: 10px;
      -webkit-box-shadow: 7px 0px 28px -1px rgba(193,182,224,0.51);
      -moz-box-shadow: 7px 0px 28px -1px rgba(193,182,224,0.51);
      box-shadow: 7px 0px 28px -1px rgba(193,182,224,0.51);
      height: 100%;
    }
    .fondo{
      height: 100%;
      background: #e0e6f230
    }
  </style>