<template>
  <v-app>
    <v-app-bar  app color="blue" dark >
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          :src="require('./assets/logo.png')"
          width="150"
        />
      </div>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-main >
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  data: () => ({
    
  }),
};
</script>
